@media only screen and (max-width: 600px) {
  .hero {
    min-height: 300px;
    background-size: 100% auto;
  }
}
@media only screen and (min-width: 600px) {
  .hero {
    min-height: 600px;
    background-size: 100% auto;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    min-height: 900px;
  }
}

.steps h3 {
  @apply text-2xl lg:text-3xl font-semibold tracking-wide py-4;
}

.steps p {
  @apply text-lg lg:text-xl xl:text-2xl mb-8;
}
